.sidebar{
    box-shadow: 5px 0 5px -5px #1d1a1a ;
    height: 90vh;
}

.button{
    border: none;
    width: 220px;
    margin-top: 10px;
    color: white;
    height: 35px;
    background-color: #61ba9b;
    font-weight: 900;
    border-radius: 5px;
}